{{#d-modal-body
  title=(concat "discourse_policy.builder.title")
  class="policy-builder"
}}
  {{policy-builder-form policy=policy onChange=(action "onChangeFormField")}}
{{/d-modal-body}}

<div class="modal-footer">
  {{#if insertMode}}
    {{d-button
      type="button"
      class="btn-primary"
      label="discourse_policy.builder.insert"
      action=(action "insertPolicy")
    }}
  {{else}}
    {{d-button
      isLoading=isSaving
      type="button"
      class="btn-primary"
      label="discourse_policy.builder.save"
      action=(action "updatePolicy")
    }}
  {{/if}}
</div>
