.cooked .policy, .d-editor-preview .policy {
  position: relative;
  padding: 5px 10px;
  border: 1px solid $primary-low;
  border-radius: 5px;
  button.accept, button.revoke{
    float: right;
    margin-left: 10px;
  }

  .policy-header {
    display: block;
    position: relative;
    margin-bottom: 30px;

    a {
      float: right;
      display: block;
      margin-left: 15px;
      i {
        margin-right: 5px;
      }
    }

    a.toggle-not-accepted {
      color: red;
    }

    a.toggle-accepted {
      color: green;
    }

    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  .policy-footer {
    display: block;
    margin-top: 30px;

    &::after {
      content: "";
      clear: both;
      display: table;
    }

    .fa-user-times {
      color: red;
      font-size: 18px;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }

  .users.not-accepted, .users.accepted {
    float: left;
    margin-top: 10px;
  }

}
