.cooked .policy,
.d-editor-preview .policy {
  position: relative;
  padding: 0;
  border: 1px solid $primary-low;

  .policy-body {
    padding: 10px;
  }

  .policy-footer {
    border-top: 1px solid $primary-low;
    padding: 10px 8px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-lists {
      padding-left: 10px;
      display: flex;
      align-items: center;
      a.toggle {
        display: flex;
        align-items: center;
        font-size: 18px;
        position: relative;
        top: 2px;
        margin-right: 10px;
      }
      .seperator {
        height: 28px;
        width: 3px;
        border-right: 2px solid $primary-low;
      }

      .users {
        margin-right: 5px;
        img {
          margin-right: 1px;
        }
      }
    }

    a.toggle-not-accepted {
      color: dark-light-choose($primary-medium, $secondary-medium);
      margin-left: 15px;
      margin-right: 5px;
    }

    a.toggle-accepted {
      color: green;
      margin-right: 5px;
    }

    .toggle-accepted,
    .toggle-not-accepted {
      .d-icon {
        margin-right: 4px;
      }
    }

    .d-icon-user-times {
      color: dark-light-choose($primary-medium, $secondary-medium);
    }

    .users.not-accepted,
    .users.accepted {
      display: inline-block;
    }
  }

  .see-policy-settings-btn,
  .edit-policy-settings-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    color: $primary-medium;

    &:hover {
      color: $primary-very-low;
      background: $primary-medium;
    }
  }

  .policy-settings {
    border-top: 1px solid $primary-low;
    padding: 10px 8px;
    display: none;
    flex-direction: column;

    .visible-settings {
      color: $primary-medium;
    }

    .save-policy-settings-btn {
      margin-left: auto;
      margin-top: 10px;
    }
  }

  .settings-list {
    display: flex;
    flex: 1;
    flex-direction: column;

    .setting {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .policy-setting-name {
        flex: 1;
        margin-right: 5px;
      }

      .policy-setting-value {
        flex: 4;
        margin-bottom: 0;
      }
    }
  }
}
