// Policy in post styles
.cooked .policy {
  position: relative;
  border: 1px solid var(--primary-low, $primary-low);
  .policy-body {
    padding: 0.75em;
    margin-bottom: 2em;
  }

  .policy-footer {
    border-top: 1px solid var(--primary-low, $primary-low);
    padding: 0.75em;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .btn {
      white-space: nowrap;
    }
  }

  .toggle {
    display: flex;
    align-items: center;

    &.toggle-accepted {
      color: var(--success, $success);
    }

    &.toggle-not-accepted {
      color: var(--primary-medium, $primary-medium);
    }

    .user-count {
      display: flex;
      align-items: center;
      margin-right: 0.25em;
    }

    .d-icon {
      line-height: $line-height-large;
    }
  }

  .user-lists {
    padding-left: 0.75em;
    display: flex;
    font-size: $font-up-1;

    .users {
      margin-left: 0.5em;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .avatar {
        margin: 1px;
      }
    }
  }

  .seperator {
    border-right: 2px solid var(--primary-low, $primary-low);
    margin: 0 0.5em;
    padding: 0.75em 0em;
  }

  .see-policy-settings-btn,
  .edit-policy-settings-btn {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    background: none;
    padding: 0.5em;

    &:hover {
      color: var(--primary-very-low, $primary-very-low);
      background: var(--primary-medium, $primary-medium);
    }
  }
}

// Policy settings styles
.cooked .policy {
  .policy-settings {
    display: none; // JS override kicks in when needed.
    border-top: 1px solid var(--primary-low, $primary-low);
    padding: 0.75em;
    flex-direction: column;

    .visible-settings {
      color: var(--primary-medium, $primary-medium);
    }

    .save-policy-settings-btn {
      margin-left: auto;
    }
  }

  .settings-list {
    display: flex;
    flex-direction: column;

    .setting {
      display: flex;
      align-items: center;
      margin-bottom: 0.75em;
    }

    .policy-setting-name {
      flex: 1;
    }

    .policy-setting-value {
      flex: 4;
      margin-bottom: 0;
    }
  }
}

// Policy in editor styles
.d-editor-preview .policy {
  padding: 0.5em;
  border: 1px solid var(--primary-low, $primary-low);

  .policy-preview {
    font-size: $font-up-1;
    font-weight: 700;
  }
}
