.cooked .policy,
.d-editor-preview .policy {
  position: relative;
  padding: 0;
  border: 1px solid $primary-low;

  .policy-body {
    padding: 10px;
  }

  .policy-footer {
    border-top: 1px solid $primary-low;
    padding: 10px 8px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-lists {
      padding-left: 10px;
      display: flex;
      align-items: center;
      a.toggle {
        display: flex;
        align-items: center;
        font-size: 18px;
        position: relative;
        top: 2px;
        i {
          margin-right: 5px;
          position: relative;
          top: -1px;
        }
        margin-right: 10px;
      }
      .seperator {
        height: 28px;
        width: 3px;
        border-right: 2px solid $primary-low;
      }

      .users {
        margin-right: 5px;
        img {
          margin-right: 1px;
        }
      }
    }

    a.toggle-not-accepted {
      color: dark-light-choose($primary-medium, $secondary-medium);
      margin-left: 15px;
      margin-right: 5px;
    }

    a.toggle-accepted {
      color: green;
      margin-right: 5px;
    }

    .d-icon-user-times {
      color: dark-light-choose($primary-medium, $secondary-medium);
    }

    .users.not-accepted,
    .users.accepted {
      display: inline-block;
    }
  }
}
