<h3>Policies</h3>
<div class="control-group policy-setting">
  <label class="controls">
    {{input
      id="policy_emails_enabled"
      type="checkbox"
      checked=this.model.user_option.policy_emails_enabled
    }}
    {{i18n "discourse_policy.preferences.policy_emails_enabled"}}
  </label>
</div>
